body {
    background-color: rgb(234, 234, 234) !important;
 }
 
 .ui.inverted.top.fixed.menu {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
 }
 .ui.inverted.segment {
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
 }
 /*home page styles*/
 
 .masthead {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 28%, rgba(0,212,255,1) 100%)!important;
    height: 100vh;
 }
 
 .masthead .ui.menu .ui.button, .ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
 }
 
 .masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
 }
 
 .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
 }